h1.flashy {
  text-align: center;
  font-style: italic;
  color: red;
}

h2.flashy {
  text-align: center;
  font-style: italic;
  color: red;
}

p.flashy2 {
  text-align: center;
}

p.flashy {
  text-align: center;
  font-style: italic;
  color: red;
}
